.loader-wrapper {
    height: 50vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .res-loader .loader-wrapper {
    height: 80vh;
    background-color: white;
  }

  .dark .res-loader .loader-wrapper{
    background-color: white;
  }
  
  .dark .loader-wrapper{
      background-color: white;
  }
  
  .loader-wrapper .loader {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 50%;
    border: 7px solid;
    border-color: white transparent;
    animation: rotate 2s linear infinite;
  }
  
  .dark .loader-wrapper   .loader {
      border-color: white transparent;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  