#loading {
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    border: 5px solid var(--white);
    border-top: 6px solid var(--2nd-Color);
    z-index: 999;
    position: fixed;
    border-radius: 100%;
    align-items: center;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}