@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&family=Lora:wght@400;500&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--dim-grey);
  }
  
  ::-webkit-scrollbar-track {
    background: var(--dim-Black);
  }
:root {
  --text-clr: #4a5c6c;
  --bg-clr: #f2f4fc;
  --border-clr: rgb(156, 176, 193);
  --dim-grey: #a0a0a0;
  --black: #000000;
  --2nd-Color: #ffb92a;
  --white: #ffffff;
  --dim-Black: #201f28;
  --shadow-Color1: rgba(0, 0, 0, 0.2);
}
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(var(--black) 50%, var(--2nd-Color) 50%);
  background-repeat: no-repeat;
}

.movieCard-h2 {
  font-family: "Lora", serif;
  color: var(--text-clr);
  font-size: 2rem;
  transition: all 0.5s linear;
}
.movieCard-h2-search {
  font-family: "Lora", serif;
  color: white;
  font-size: 2rem;
  transition: all 0.5s linear;
}

a {
  text-decoration: none;
}

.movieCard-img {
  min-width: 10rem;
  max-height: 30rem;
  margin: 1rem 0;
  border-radius: 1rem;
  transition: all 0.3s linear;
}

.container {
  max-width: 140rem;
  margin: auto;
  padding: 3rem;
  
}

.grid {
  display: grid;
  gap: 3rem;
}

.grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  width: 25rem;
  max-width: 30rem;
  min-height: 30rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search-section {
  margin: auto;
  text-align: center;
  margin: 4rem 0;
}

input {
  width: 30rem;
  border-radius: 100px;
  border: none;
  border: 1px solid var(--border-clr);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  outline: none;
  margin-top: 2rem;
}

.card-error p {
  color: red;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.loading {
  font-size: 3.2rem;
  color: var(--text-clr);
  text-align: center;
}

a {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 3.2rem 1rem;
  color: var(--text-clr);
  border: 0.2rem solid var(--text-clr);
  background-color: #f2f4fc;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

a:hover {
  background-color: var(--text-clr);
  color: var(--bg-clr);
   box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

a:hover .movieCard-h2 {
  color: var(--bg-clr);
  transform: translateY(-1.5rem);
  display: inline-block;
}

a:hover .movieCard-img {
  transform: scale(1.1);
}

.back-btn {
  padding: 1.2rem 3.6rem;
}

@media (max-width: 1200px) {
  .container {
    margin: auto;
    max-width: 110rem;
  }
  .grid-4-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 998px) {
  .container {
    max-width: 90rem;
    margin: auto;
  }
  .grid-4-col {
    grid-template-columns: 1fr 1fr;
  }

  input {
    width: 25rem;
  }
  .movie-card {
    grid-template-columns: 1fr;
  }

  .back-btn {
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 70rem;
    margin: auto;
  }
  .grid-4-col {
    grid-template-columns: 1fr;
  }
}
